body {
  background-color: #ff3749;
  text-align: center;

}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.player-name {
  box-sizing: border-box;
  background-color: #f3f3f3;
  padding: 10px;
margin-left: 50px;
margin-right: 50px;
margin-top: 120px;
margin-bottom: 120px;
  border-radius: 10px;
  width: 200px;
  height: 100px;
}
.start-restart {
  box-sizing: border-box;
  background-color: #f3f3f3;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
  border-radius: 10px;
  width: 200px;
  height: 100px;
}
.player-name:hover,
.start-restart:hover {
  background-color: gray;
  cursor: pointer;
}


.main-body {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-one,
.player-two {
  box-sizing: border-box;
  background-color: #f3f3f3;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.player-one {

}
.player-two {

}

.main-game {
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
}
