body {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-background {
  padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-image: url("https://images.pexels.com/photos/5088017/pexels-photo-5088017.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: absolute;
      background-color: rgb(238, 238, 238);
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  text-align: center;
  height: 100%;
}
.half-black {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.player-name {
  font-size: 20px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
  border-radius: 10px;
  width: 200px;
  height: 100px;
}
.start-restart {
  font-size: 20px;
  box-sizing: border-box;
  background-color: #f3f3f3;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 120px;
  margin-bottom: 120px;
  border-radius: 10px;
  width: 200px;
  height: 100px;
}
.player-name:hover,
.start-restart:hover {
  background-color: gray;
  cursor: pointer;
}

.main-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.player-one,
.player-two {
  box-sizing: border-box;
  background-color: #f3f3f3;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
.player-one {

}
.player-two {

}


#popUp {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  font-size: 18px;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
.form {
  background-color: #fefefe;
  margin: 15% auto;
    margin-top: 12%;
    margin-right: auto;
    margin-bottom: 15%;
    margin-left: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover {
    cursor: pointer;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
#add-players {

}
#add-players:hover {
  cursor: pointer;
}


.main-game {
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin-top: 0px;
}




.title-game {
  text-align: center;
  padding: 0px;
  margin: 5px;
}

table {
  border-collapse: collapse;
}
table:hover {
  cursor: pointer;
}

td {
  width: 110px;
  height: 110px;
  border: 1px solid black;
}

.player-one-mark:before {
  content: "\2715";
  font-size: 80px;
}
.player-two-mark:before {
  content: "\1F786";
 font-size: 85px;
}
